<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scienceyouthhub">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Added for future features (e.g., file access for photos) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Limited to Android 13 due to Scoped Storage -->

    <!-- Specify minimum API version -->
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScienceYouthHub"
        tools:targetApi="31">

        <!-- LoginActivity as the start screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".RegistrationActivity"/>

    </application>

</manifest>
